.container{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.container p,h1{
    font-family: 'D2Coding Bold', monospace;
    color: #ffffff;
}

.container img{
    padding: 5px;
    border: 0.5px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.container h1{
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container p{
    font-size: 16px;
}