.wrapper {
    width: 698px;
    margin: 0 auto;
} 

.wrapper h1{
    color: black;
}

.title{
    color: black;
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 30px 0 30px 0;
}

.date {
    color: #aaaaaa;
    font-size: small;
    text-align: end;
}